# This is the sample configuration file for Datacentral.
# Running `make install` will create a copy called `settings.conf` which
# should be tweaked for your own installation.

[ui]
# The theme to use. For the moment there's only one.
theme = centraldedados

[credentials]
# E-mail to use for the contact form. Uses Formspree.io to send email,
# see their site to learn how it works.
contact_email = johndoe@dummydomain.net

[repositories]
eleicoes-datas = https://github.com/centraldedados/eleicoes-datas.git
parlamento-datas_sessoes = https://github.com/centraldedados/parlamento-datas_sessoes.git
obitos = https://github.com/centraldedados/obitos.git
nomes_proprios = https://github.com/centraldedados/nomes_proprios.git
codigos_postais = https://github.com/centraldedados/codigos_postais.git
