/* Eric Meyer's Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1rem;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
     Author's custom styles
     ========================================================================== */

/* Typography
*/

@font-face {
    font-family: 'Comme';
    font-weight: 400;
    font-style: normal;
    src: local('Comme'), url('/fonts/CommeSans/Comme-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Comme';
    font-weight: 300;
    font-style: normal;
    src: local('Comme Thin'), url('/fonts/CommeSans/Comme-Thin.ttf') format('truetype');
}


@font-face {
    font-family: 'Comme';
    font-weight: 700;
    font-style: normal;
    src: local('Comme Bold'), url('/fonts/CommeSans/Comme-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Comme';
    font-weight: 500;
    font-style: normal;
    src: local('Comme Medium'), url('/fonts/CommeSans/Comme-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Comme Mono';
    font-weight: 400;
    font-style: normal;
    src: local('Comme Mono'), url('/fonts/CommeSans/CommeMono-Regular.ttf') format('truetype');
}

body {
    font-family: 'Comme', DejaVu Sans, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4;
}

h1 {    
    font-size: 2.25rem;    
    font-family: 'Comme';
    font-weight: 300; 
    margin-bottom: 0.5em;    
}

h2 {    
    font-size: 1.85rem;     
    font-family: 'Comme';   
    font-weight: 500; 
    color: #888;
    margin-top: 0.625em;
    margin-bottom: 0.375em;
}

h3 {    
    font-size: 1.625rem; 
    font-family: 'Comme';
    font-weight: 500;    
    color: #888;
    margin-top: 0.625em;
    margin-bottom: 0.1em;
}

h4 {    
    font-size: 1.375rem; 
    font-family: 'Comme';
    font-weight: 500;    
    color: #888;
    margin-top: 0.625em;
    margin-bottom: 0.375em;
}

h5 {    
    color: #aaa;
    margin-top: 0.375em;
    font-size: 0.8rem;    
    font-family: 'Comme';
    font-weight: 700;	
    text-transform: uppercase;
}

h6 {    
    font-size: 0.7rem; 
    font-family: 'Comme';
    font-weight: 500;
    text-transform: uppercase;
}

strong,
.footer li a {	
    font-family: 'Comme';
    font-weight: 700;
}

.header .description {	
    font-family: 'Comme';
    font-weight: 500;
}

.datafiles > .box span {
    font-family: 'Comme Mono';	
}

.nav,
.footer,
small {
    font-size: 0.75rem;
}


/* Colours
*/

body {
    background: #d8d6c9;
    color: #2c373a;
}

a {
    color: #de1b1b;
    text-decoration: none;
    outline: 0;
}

a:hover,
a:focus,
a:active {
    color: #c91313;
}


/* Layout
*/

.row:before, .row:after,
.header:before, .header:after,
.nav:before, .nav:after,
.datafiles:before, .datafiles:after    {
    content: " ";
    display: table;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
}

.row:after,
.header:after
.nav:after,
.datafiles:after {
    clear: both;
}

.row > div {
    width: 96%;
    margin: 1em auto;
}

.nav, .header, .row {
    background: #f7f8f2;
}

.nav > div {
    width: 96%;
    margin: 0 auto;
}

.nav li {
    text-transform: uppercase;
}

.nav > div > ul {
    text-align: right;
}

.nav li {
    display: inline-block;
}

.nav li a {
    display: block;
    padding: .75em .5em;
}

.header > div {
    width: 96%;
    clear: both;
    margin: 0 auto 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #b9bdc5;
}

.header a {
    display: block;
    overflow: hidden;
    color: #2c373a;
    padding: .5em 0;
}

.header a:hover {
    color: #de1b1b;
}

.header h1 {
    font-size: 4rem;
    line-height: 1;
    margin: 0;
}


.header img {
    max-width: 100%;
}

.row .description {
    font-size: 0.865rem;
}

.description p,
.main .readme p,
.row .main p {
    margin-bottom: .75em;
}

.row .main-dataset ul,
.row .static-page ul  {
    margin-left: 1.25rem;
    line-height: 1.4;
    list-style-type: '— ';
    list-style-position: outside;
    margin-bottom: 1rem;
}

.row .main-dataset ul li,
.row .static-page ul li {
    padding-left: 0.25rem;
    margin-bottom: 0.45rem;
}

.search {
    padding: 0 0 1em;
}

#search {
    box-sizing: border-box;
    display: block;
    font-size: 1rem;
    font-family: 'Comme';
    font-weight: 300;
    width: 100%;
    border: 2px solid #ccc;
    padding: 0.5em 0 0.5em 0.5em;
    border-radius: 4px;
}

    ::-webkit-input-placeholder { color: #969ba6; }
    ::-moz-placeholder          { color: #969ba6; }
    :-ms-input-placeholder      { color: #969ba6; }

#search:focus {
    color: #2c373a;
    border: 2px solid #de1b1b;
}

#spinner {
    display: inline;
    visibility: hidden;
    position: absolute;
    top: 0.5rem;
    right: 0.35rem;
    z-index: 100;
}

.notfound {
    display: none;
    padding-top: 1em;
}

code {
    font-family: monospace;
    border-bottom: 1px solid #bbb;
}

/* homepage dataset list
*/

.datasets > li {
    border-top: 1px solid #b9bdc5;
    padding-bottom: 0.75em;
    margin-top: 0.45em;
    margin-bottom: 0.45em;
}

    .datasets > li:nth-child(2) {
        margin-top: 0;
    }

.datasets > li a {
    display: block;
    color: #2c373a;
}

    .datasets > li a h3          { color: #de1b1b; }
    .datasets > li a span        { color: #2c373a; }
    .datasets > li a span.source { color: #969ba6; }

.datasets > li span {
    display: block;
}

.datasets > li span.source {
    display: block;
    font-size: 0.875rem;
    color: #969ba6;
}

/* dataset page
*/

.main-dataset .details h4:first-child {
    padding-top: 0;
}

.datafile-box {
    margin-top: 1em;
}

.datafile-fieldlist ul {
    margin-left: 0.75em;
    font-size: 0.8rem;
}

.sources ul {
    margin-left: 0.75em;
}

.readme h1.title {
    font-size: 1.75rem;
    margin-bottom: 0.45em;
}

.readme h2.subtitle {
    font-size: 0.9rem;
    font-family: 'Comme';
    font-weight: 700;
    color: #999;
    margin-top: 0;
    margin-bottom: 1em;
}

.readme h1 {
    font-size: 1.5rem;
}

.readme h2 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: 'Comme';
    font-weight: 300;
    margin-top: 1em;
}

.footer {
    background: #d8d6c9;
    padding-top: 1em;
}

.footer h5 {
    color: #2c373a;
    margin-bottom: 1.75em;
    text-transform: none;
}

.footer h5 a {
    display: inline-block;
    margin: 0 0.75em;
    text-transform: uppercase;
}

.footer h5 img {
    display: inline-block;
    height: 18px;
    width: auto;
    vertical-align: bottom;
}


.footer li {
    margin: 1em 1em 0 0;
}

.footer ul img {
    display: inline-block;
    height: 32px;
    width: auto;
}

/* ==========================================================================
     Media Queries
     ========================================================================== */

@media only screen and (min-width: 400px) {

    .datafiles > ul {
        margin: 0 0 20px;
    }

}

@media only screen and (min-width: 400px) and (max-width: 599px) {

}


@media only screen and (min-width: 600px) {

    .row > div {
        width: 92%;
        margin: 1em auto;
    }

    .header > div {
        width: 92%;
        margin: 0 auto;
    }

    .header > div > a p {
        display: block;
        float: left;
        width: 20%;
        margin-right: 2%;
    }

    .header h1 {
        float: left;
    }

    .nav > div {
        width: 92%;
        margin: 0 auto;
    }

    .datafiles > ul {
        margin: 0 0 20px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 899px) {

}

@media only screen and (min-width: 900px) {

    .row > div {
        width: 86%;
        margin: 1em auto;
    }

    .header > div {
        width: 86%;
        margin: 0 auto;
    }

    .header > div > a p {
        display: block;
        float: left;
        width: 28%;
        margin-right: 2%;
    }

    .header h1 {
        float: left;
        font-size: 6.5rem;
    }

    .nav > div {
        width: 86%;
        margin: 0 auto;
    }

    .nav > div > ul {
        float: right;
        width: 70%;
    }

    .header + .row > div {
        width: 86%;
        overflow: auto;
        clear: both;
        margin: 0 auto;
        padding-top: 1.325em;
        padding-bottom: 2em;
    }

    .row > div > .description {
        float: left;
        width: 28%;
        margin-right: 2%;
    }

    .row div .main {
        float: left;
        width: 70%;
    }

    .row div .main-dataset {
        width: 100%;
    }
    /* Dataset page columns */

    .details {
        float: left;
        width: 28%;
        margin-right: 2%;
    }

    .readme {
        float: left;
        width: 70%;
    }

    .footer li {
        display: inline-block;
        margin: 0 1em 0 0;
    }

    .footer li a {
        display: inline-block;
        padding: .5em .25em;
    }

}


/* ==========================================================================
     Helper classes
     ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

